@model InternetProvider.Web.Models.UserPageViewModel

<h2>Кабинет пользователя</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Настройки аккаунта</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Изменить пароль", "ChangePassword", null, new {@class= "btn btn-primary" })
            }
        </dd>
        <dt>Остаток на счету:</dt>
        <dd>@($"{Model.Balance:0.00}")</dd>
        <dd>@Html.ActionLink("Пополнить баланс", "Payment", "Payment", new { amount = (int)Model.Fee }, new {@class="btn btn-success" })</dd>

        @if (Model.Tariffs != null)
        {
            <dt>Ближайшая сумма платежа:</dt>
            <dd>@($"{Model.Fee:0.00}")</dd>
            <dt>Дата снятия средств:</dt>
            <dd>@Model.PaymentDate.ToShortDateString()</dd>
            <dt>Подключенные тарифы:</dt>
            foreach (var tariff in Model.Tariffs)
            {
                <dd>@tariff.Item2 @Html.ActionLink("Отключить", "UnsubscribeFromTariff", new { id = tariff.Item1 }, new { @class = "btn btn-danger" })</dd>
            }
        }
    </dl>
</div>
